body{
    padding-top: 180px;
    text-align: center;
    color:rgb(212, 204, 204) ;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(tesla.jpg.jpg);
}
body input[type="button"]{
    border: none;
    font-size: 20px;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    background-color:rgb(212, 204, 204) ;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.signinform h1{
 text-align: left;   
 margin-left: 25px;
}
.inputform{
    border-right: solid 1px black;
    margin-left: 700px;
}




