body{
    padding-top: 300px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(tesla.jpg.jpg);
}
#flex{
    display: flex;
    justify-content: center;
}
#flex h1{
    color:rgb(212, 204, 204) ;
    text-align: left;
    border-left: 1px solid black;
    padding-left: 15px;
}
#inputform{
    margin-right: 15px;
}
#flex a{
    font-size: 15px;
    text-decoration: none;
    font-weight: 1000;
    color:rgb(212, 204, 204) ;
}

#buttons button{
    border: none;
    font-size: 15px;
    border-radius: 5px;
    width: 80px;
    height: 25px;
    background-color:rgb(212, 204, 204) ;
}

#buttons input{
    border: none;
    font-size: 15px;
    border-radius: 5px;
    width: 80px;
    height: 25px;
    background-color:rgb(212, 204, 204) ;
}